VITE_CMS_URL=http://localhost:1337

POSTGRES_DB=page
POSTGRES_USER=page
POSTGRES_PASSWORD=page

APP_KEYS=appKey1,appKey2,appKey3,appKey4
API_TOKEN_SALT=apiTokenSaltChangeMe
ADMIN_JWT_SECRET=adminJwtSecretChangeMe
TRANSFER_TOKEN_SALT=transferTokenSaltChangeMe
JWT_SECRET=jwtSecretChangeMe
