HOST=0.0.0.0
PORT=1337

APP_KEYS=appKey1,appKey2,appKey3,appKey4
API_TOKEN_SALT=apiTokenSaltChangeMe
ADMIN_JWT_SECRET=adminJwtSecretChangeMe
TRANSFER_TOKEN_SALT=transferTokenSaltChangeMe
JWT_SECRET=jwtSecretChangeMe

DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=page
DATABASE_USERNAME=page
DATABASE_PASSWORD=page
DATABASE_SSL=false
